<div class="container">
  <div class="row">
    <div class="col-md-6">
      <% @projects[:active].each do |project| %>
        <%= render partial: "projects/panel", locals: { project: project, panel_clickable: false } %>
      <% end %>
    </div>
    <div class="col-md-6">
      <% @projects[:inactive].each do |project| %>
        <%= render partial: "projects/panel", locals: { project: project, panel_clickable: false } %>
      <% end %>
    </div>
  </div> <!-- row -->
</div>
