<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="panel-group" id="sidebar">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#sidebar" href="#sidebar-today"><span class="glyphicon glyphicon-calendar">
                </span> Today</a>
            </h4>
          </div>
          <div id="sidebar-today" class="panel-collapse collapse in">
            <ul class="list-group">
              <a href="#today-planning" class="list-group-item" data-toggle="tab">
                <span class="glyphicon pull-right" id="planning-notification"></span>
                <span class="glyphicon glyphicon-pencil"></span> Planning
              </a>
              <a href="#today-working" class="list-group-item" data-toggle="tab">
                <span class="glyphicon glyphicon-briefcase"></span> Working
              </a>
              <a href="#today-tracking" class="list-group-item" data-toggle="tab">
                <span class="glyphicon glyphicon-book"></span> Tracking
              </a>
              <a href="#today-reporting" class="list-group-item" data-toggle="tab">
                <span class="glyphicon glyphicon-stats"></span> Reporting
              </a>
            </ul>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#sidebar" href="#sidebar-follow-up"><span class="glyphicon glyphicon-envelope">
                </span> Follow-up</a>
            </h4>
          </div>
          <div id="sidebar-follow-up" class="panel-collapse collapse in">
            <ul class="list-group">
              <a href="#follow-up-completed" class="list-group-item" data-toggle="tab">
                <span class="glyphicon glyphicon-ok"></span> Completed
              </a>
              <a href="#follow-up-waiting" class="list-group-item" data-toggle="tab">
                <span class="glyphicon glyphicon-time"></span> Waiting
              </a>
            </ul>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#sidebar" href="#sidebar-reporting"><span class="glyphicon glyphicon-folder-close">
                </span> Reporting</a>
            </h4>
          </div>
          <div id="sidebar-reporting" class="panel-collapse collapse">
            <ul class="list-group">
              <a href="#reporting-todo" class="list-group-item" data-toggle="tab">
                <span class="glyphicon glyphicon-pencil"></span> To-Do
              </a>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 tab-content">
      <div class="tab-pane fade" id="today-planning">
        <%= render partial: "home/today_planning" %>
      </div>

      <div class="tab-pane fade" id="today-working">
      </div>

      <div class="tab-pane fade" id="today-tracking">
      </div>

      <div class="tab-pane fade" id="today-reporting">
      </div>

      <div class="tab-pane fade" id="follow-up-completed">
      </div>

      <div class="tab-pane fade" id="follow-up-waiting">
      </div>

      <div class="tab-pane fade" id="reporting-todo">
      </div>
    </div>
  </div>
</div>
