<% if project.customer_id %>
  <% customer = Customer.find(project.customer_id) %>
<% end %>
<div class="panel panel-<%=status_color(project.status)%>">
  <div class="panel-heading clickable">
    <div class="panel-title"><%= project.title %></div>
    <span class="pull-right"><i class="glyphicon glyphicon-minus"></i></span>
  </div>
  <div class="panel-body">
    content here
  </div>
</div> <!-- panel -->
