<div>
  <h1>Projects</h1>
  <% @projects.keys.each do |category| %>
    <h2><%= category %></h2>
    <% @projects[category].each do |project| %>
      <%= render partial: 'panel', locals: { project: project } %>
    <% end %>
    <hr>
  <% end %>
</div>
