<div>
  <h1>Projects</h1>
  <% @projects.each do |project| %>
    <div class="panel panel-default">
      <%= render partial: 'panel_small', locals: { project: project } %>
    </div>
  <% end %>
</div>
