// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.glyphicon-large{
  margin-top: -.1em;
  font-size: 2em;
}

#projects-table-filter{
  margin-top: -2em;
  font-size: .75em;
  height: 2em;
}

.projects-table .panel-heading{
  margin-bottom: 0;
}

.projects-table .panel-body{
  display: none;
}

.projects-table-row .selected-row td{
	background-color: #ffff99;
}

#sidebar .glyphicon { margin-right:10px; }
#sidebar .panel-collapse>.list-group .list-group-item:first-child {border-top-right-radius: 0;border-top-left-radius: 0;}
#sidebar .panel-collapse>.list-group .list-group-item {border-width: 1px 0;}
#sidebar .panel-collapse>.list-group {margin-bottom: 0;}
#sidebar .panel-collapse .list-group-item {border-radius:0;}

#sidebar .panel-collapse .list-group .list-group {margin: 0;margin-top: 10px;}
#sidebar .panel-collapse .list-group-item li.list-group-item {margin: 0 -15px;border-top: 1px solid #ddd;border-bottom: 0;padding-left: 30px;}
#sidebar .panel-collapse .list-group-item li.list-group-item:last-child {padding-bottom: 0;}

#sidebar .panel-collapse div.list-group div.list-group{margin: 0;}
#sidebar .panel-collapse div.list-group .list-group a.list-group-item {border-top: 1px solid #ddd;border-bottom: 0;padding-left: 30px;}