// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* collapsable panels */
.clickable
{
  cursor: pointer;
}

.clickable .glyphicon
{
  background: rgba(0, 0, 0, 0.15);
  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px
}

a.clickable { color: inherit; }
a.clickable:hover { text-decoration:none; }


/* task list */
.state-icon {
  left: -5px;
}

.project-panel-title {
  line-height: 1em;
}

.project-customer-title {
  font-size: .8em;
  margin-top: -1.5em;
  text-indent: 1em;
}
